@import '../../assets/globals.css';

.coursesContainer {
	padding: 2em 3.125em;
}

.coursesContentContainer {
	display: flex;
	justify-content: space-between;
	padding-top: 2.5em;
}

.coursesListContainer {
	display: flex;
	flex: 1;
	justify-content: space-around;
}

.courseContainer {
	background-color: white;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	display: flex;
	gap: 1em;
	justify-content: center;
	min-width: 11em;
	padding: 0.2em 2rem;
}

.courseContainer img {
	width: 2.43rem;
	height: auto;
}

.courseContainer p {
	font-family: Montserrat-Bold;
	font-size: 1.5rem;
}
