@import url('../../assets/globals.css');

.proffesionalExperienceContainer {
	background-color: var(--gray-background);
	padding: 2em 3.125em;
}

.sectionTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 4.5rem;
	margin: 0;
}

.cardsContainer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 6vh;
}

.card {
	background-color: white;
}
