@import url('../../assets/globals.css');

.proffesionalExperienceContainer {
	background-color: var(--gray-background);
	padding: 2em 3.125em;
}

.cardsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 6vh;
}

.card {
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	padding: 4.375vh 2.18vw 2.18vw 4.375vh;
}

.enterpriseContainer {
	display: flex;
	gap: 10px;
}

.enterpriseContainer img {
	height: auto;
	width: 5.19rem;
}

.enterpriseContainer h2 {
	font-family: Montserrat-Bold;
	font-size: 2.125rem;
	text-transform: uppercase;
}

.jobDataContainer {
	margin-top: 1em;
	font-size: 1.5rem;
}

.poistionTitle {
	font-family: Montserrat-SemiBold;
	margin: 0;
}

.positionDate {
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat-Medium;
	margin: 0;
}

.jobDescription {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding-top: 0.5em;
	margin-top: 1em;
}

.jobDescription p {
	font-family: Montserrat-Regular;
	font-size: 1.1rem;
	width: 25vw;
}
