@import '../../assets/globals.css';

.helloContainer {
	grid-column: 1 / 4;
	display: grid;
	grid-template: 1 / 3;
}

.profilePicContainer {
	display: flex;
	justify-content: center;
}

.titleContainer {
	grid-column-start: 2;
}

.helloMessage {
	background-color: var(--primary-orange);
}
