@import '../../assets/globals.css';

.heroContainer {
	display: flex;
	justify-content: center;
	background-color: var(--gray-background);
	padding: 5rem 3rem 0 3rem;
}

.heroInnerContainer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	max-width: 1920px;
	width: 100%;
}

.heroDescriptionContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 420px;
	justify-content: center;
}

.title {
	font-size: clamp(3rem, 6vw, 6rem);
	line-height: 1;
	margin: 0;
}

.subtitle {
	color: #2c569e;
	font-size: clamp(1.8rem, 4vw, 3.5rem);
	line-height: 1;
	margin: 0.5rem 0;
}

.description {
	font-family: Montserrat-Regular;
	font-size: 1.4rem;
	max-width: 40ch;
	line-height: 1.5;
	margin-top: 0;
}

.buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.buttonsContainer * {
	font-family: Montserrat-ExtraBold;
	font-size: 1.4rem;
	text-decoration: none;
}

.buttonsContainer span:hover {
	cursor: pointer;
}

.downloadButton {
	background-color: #2c569e;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color: #fff;
	padding: 1em 1em;
}

.downloadButton:hover {
	background-color: #23447d;
}

.connectNowButton {
	background-color: white;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color: #2c569e;
	padding: 1em 2em;
}
.connectNowButton:hover {
	background-color: #e3e3e3;
}

.heroImgContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex: 1 1 360px;
}

.heroImg {
	height: auto;
	max-height: 600px;
	max-width: 100%;
}
