.heroContainer {
	background-color: #f9f7fc;
	display: flex;
	flex: 1;
}

.heroRightContainer {
	padding-top: 90px;
	padding-left: 50px;
	font-size: 50px;
}

.title {
	margin: 0;
}

.subtitleContainer h3 {
	color: #2c569e;
	font-size: 50px;
	margin: 0;
}

.descriptionContainer p {
	font-size: 30px;
	font-family: Montserrat-Regular;
}

.buttonsContainer {
	display: flex;
	direction: row;
	gap: 32px;
}

.buttonsContainer * {
	font-family: Montserrat-ExtraBold;
	font-size: 20px;
}

.buttonsContainer button:hover {
	cursor: pointer;
}

.downloadButton {
	background-color: #2c569e;
	color: #fff;
	border-radius: 12px;
	padding: 24px 28px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.downloadButton:hover {
	background-color: #23447d;
}

.connectNowButton {
	background-color: white;
	color: #2c569e;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	padding: 24px 55px;
}
.connectNowButton:hover {
	background-color: #e3e3e3;
}
