@import '../../assets/globals.css';

.heroContainer {
	display: flex;
	justify-content: center;
	background-color: var(--gray-background);
}

.heroInnerContainer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 3vh 3vw 0 3vw;
}

.heroDescriptionContainer {
	font-size: 3rem;
	padding-top: 2em;
}

.title {
	font-size: 1.9em;
	margin: 0;
}

.subtitle {
	color: #2c569e;
	margin: 0;
	font-size: 2.3rem;
}

.description {
	font-family: Montserrat-Regular;
	font-size: 1.5rem;
}

.buttonsContainer {
	display: flex;
	gap: 32px;
	margin-top: 4.5rem;
}

.buttonsContainer * {
	font-family: Montserrat-ExtraBold;
	font-size: 1.4rem;
	text-decoration: none;
}

.buttonsContainer span:hover {
	cursor: pointer;
}

.downloadButton {
	background-color: #2c569e;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color: #fff;
	padding: 1em 1em;
}

.downloadButton:hover {
	background-color: #23447d;
}

.connectNowButton {
	background-color: white;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color: #2c569e;
	padding: 1em 2em;
}
.connectNowButton:hover {
	background-color: #e3e3e3;
}

.heroImgContainer {
	display: flex;
	align-items: end;
}

.heroImg {
	height: 732px;
	width: auto;
}
