@import url('../../assets/globals.css');

.proffesionalExperienceContainer {
	background-color: var(--gray-background);
	padding: 2em 3em;
}

.cardsContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin-top: 3vh;
}

@media (min-width: 1400px) {
	.cardsContainer {
		grid-template-columns: repeat(3, minmax(320px, 1fr));
	}
}
