@import url('../../assets/globals.css');

.cardContainer {
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.25);
	display: flex;
	flex: 1 1 320px;
	flex-direction: column;
	padding: 2rem;
}

.enterpriseContainer {
	display: flex;
	gap: 1em;
}

.enterpriseContainer img {
	height: auto;
	width: 5.19rem;
}

.enterpriseContainer h2 {
	font-family: Montserrat-Bold;
	font-size: 2.125rem;
	text-transform: uppercase;
}

.jobDataContainer {
	margin-top: 1em;
	font-size: 1.5rem;
}

.poistionTitle {
	font-family: Montserrat-SemiBold;
	margin: 0;
}

.positionDate {
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat-Medium;
	margin: 0;
}

.jobDescription {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1em;
	padding-top: 0.5em;
}

.jobDescription p {
	font-family: Montserrat-Regular;
	font-size: 1.1rem;
	line-height: 1.5;
}
