@import url('../../assets/globals.css');

.cardContainer {
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.cardTitleContainer {
	align-items: center;
	display: flex;
	gap: 1em;
}

.cardTitleContainer img {
	height: auto;
	max-width: 3rem;
	max-height: 3rem;
}

.cardTitle {
	font-family: Montserrat-Bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.cardDataContainer {
	margin-top: 0.7rem;
	font-size: 1.3rem;
}

.cardHeading {
	font-family: Montserrat-SemiBold;
	font-size: 1.5rem;
	margin: 0;
}

.cardDate {
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat-Medium;
	margin: 0;
}

.cardDescription {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1em;
}

.cardDescription p {
	font-family: Montserrat-Regular;
	font-size: 1.1rem;
	line-height: 1.5;
	margin: 0.8rem 0;
}

/* Tablet / IPad */
@media (min-width: 810px) {
	.cardTitle {
		font-size: 2rem;
	}
}
