@import '../../assets/globals.css';

.personalProjectsContainer{
    padding: 2em 3em;
}

.projectsContainer{
    margin-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    gap: 2rem;
    background-color: red;
}

.projectsContainer .cardContainer:nth-child(even) .cardHeaderContainer {
	flex-direction: row-reverse;
}