@import '../../assets/globals.css';

.personalProjectsContainer{
    padding: 2em 3em;
}

.personalProjectsContainer a {
    text-decoration: none;
    color: lightsalmon;
}

.personalProjectsContainer a:hover {
    text-decoration: underline;
    color: lightsteelblue;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    gap: 2rem;
}

.projectsContainer .projectCardContainer:nth-child(even) .cardTitleContainer,
.projectsContainer .projectCardContainer:nth-child(odd) .projectCardContentContainer {
	flex-direction: row-reverse;
}