@import '../../assets/globals.css';

.headerSiteContainer {
	width: 100%;
	/* Fix header container shadow -> It doesn't render on screen */
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.headerInnerContainer {
	max-width: var(--default-max-width);
	padding: 0 3rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.leftContainer {
display: inherit;
}

.headerName {
	font-family: Istok-Web-Bold;
	margin: 18px 0;
	font-size: 40px;
}

.rightContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
