@import '../../assets/globals.css';

.headerSiteContainer {
	background-color: white;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
	position: absolute;
	width: 100%;
	z-index: 50;
}

.headerInnerContainer {
	padding: 0 3rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.leftContainer {
	display: inherit;
}

.headerName {
	font-family: Istok-Web-Bold;
	margin: 18px 0;
	font-size: 2.5rem;
}

@media only screen and (max-width: 576px) {
	.headerName {
		font-size: 1.5rem;
	}
}

.rightContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
