@import '../assets/globals.css';

.buttonContainer {
	display: flex;
	justify-content: center;
}

.buttonStyle {
	width: 100%;
	max-width: 75%;
	background-color: var(--primary-red);
	color: var(--primary-white);
	font-size: 24px;
	padding: 12px 24px;
	border: none;
	border-radius: 12px;
	position: relative;
	box-shadow: -6px 6px 0px var(--primary-blue);
	outline: 3px solid var(--primary-light-blue);
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.buttonStyle:hover {
	transform: translateY(-2px);
	box-shadow: -8px 8px 0px var(--primary-blue);
}

.buttonStyle:active {
	transform: translateY(2px);
	box-shadow: -4px 4px 0px var(--primary-blue);
}
