@import '../../assets/globals.css';

.educationContainer {
	padding: 2em 3em;
	background-color: var(--gray-background);
}

.contentContainer {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	margin-top: 1.5rem;
}

.collageContainer {
	flex: 1 1 360px;
}

.verticalDivider {
	width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	align-self: stretch;
}

.collegeTitle {
	font-family: Montserrat-Bold;
	margin: 0;
	font-size: 2.5rem;
}

.careerTitle {
	color: #2c569e;
	font-family: Montserrat-SemiBold;
	font-size: 1.5rem;
	margin: 0;
}

.educationDate {
	color: rgba(0, 0, 0, 0.7);
	font-family: Montserrat-Medium;
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.educationDescription {
	margin: 0;
	font-family: Montserrat-Medium;
	font-size: 1.4rem;
	margin-top: 1.5rem;
}

.scholarshipContainer {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
