@import '../../assets/globals.css';

.carouselContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-top: 1em;
}

.carouselContainer > img {
	width: 2.5rem;
	height: auto;
}

.carouselContainer > img:hover {
	cursor: pointer;
}

.itemsListContainer {
	display: flex;
	flex: 1;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	padding: 1em 1.5rem;
	gap: 1rem;
}

.itemsListContainer::-webkit-scrollbar {
	display: none;
}

.itemContainer {
	align-items: center;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	display: flex;
	flex: 0 0 75%;
	gap: 1rem;
	justify-content: center;
	padding: 1rem;
	scroll-snap-align: center;
}

.itemContainer img {
	width: 2.5rem;
	height: auto;
}

.itemContainer p {
	font-family: Montserrat-Bold;
	font-size: 1.2rem;
}

/* Tablet / IPad */
@media (min-width: 810px) {
	.itemContainer {
		flex: 0 0 40%;
	}

	.itemContainer p {
		font-size: 1.3rem;
		margin: 0;
	}
}

/* Desktop */
@media (min-width: 1400px) {
	.itemContainer {
		flex: 0 0 22%;
	}

	.itemContainer p {
		font-size: 1.5rem;
		margin: 0;
	}
}
