@import '../../assets/globals.css';

.carouselContainer {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
}

.itemsListContainer {
	display: flex;
	flex: 1 0 20%;
	overflow-x: auto;
	overflow: hidden;
	padding: 1em 0;
	scroll-snap-type: x mandatory;
	transition: all 1s;
}

.itemContainer {
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	display: flex;
	gap: 1em;
	justify-content: center;
	margin: 0.2em 1em;
	max-width: 25%;
	min-width: 20%;
	scroll-margin-left: 1em;
	scroll-snap-align: start;
}

.itemContainer img {
	height: auto;
	width: 2.43rem;
}

.itemContainer p {
	font-family: Montserrat-Bold;
	font-size: 1.5rem;
}

.carouselRightsideChevron:hover,
.carouselLeftsideChevron:hover {
	cursor: pointer;
}
