@import '../../assets/globals.css';

.footerContainer {
	background-color: #2c569e;
	color: white;
	padding: 2rem 3rem;
}

.contactInfoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.divider {
	border-color: white;
	margin: 1rem 0;
}

.phoneNumberContainer {
	display: flex;
	gap: 0.5rem;
}

.footerIcon {
	height: auto;
	width: 2em;
}

.footerDetail {
	font-family: Montserrat-Medium;
	font-size: 1.5rem;
	margin: 0;
}

.footerDescriptionContainer {
	display: flex;
	justify-content: center;
}

.footerDescription {
	font-family: Montserrat-Medium;
	font-size: 1.2rem;
	margin: 0;
	text-align: center;
}

/* Tablet / IPad */
@media (min-width: 810px) {
	.contactInfoContainer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.footerDescription {
		font-size: 1.5rem;
	}
}

/* Desktop */
@media (min-width: 1400px) {
	.contactInfoContainer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.footerDescription {
		font-size: 1.5rem;
	}
}
