@import '../../assets/globals.css';

.footerContainer {
	background-color: #2c569e;
	color: white;
	font-family: Montserrat-Medium;
	padding: 2em 3.125em;
}

.contactInfoContainer {
	display: flex;
	justify-content: space-between;
}

.phoneNumberContainer {
	display: flex;
	gap: 0.5vw;
}

.footerIcon {
	height: auto;
	width: 2em;
}

.footerDetail {
	font-size: 1.5rem;
	margin: 0;
}

.footerDescriptionContainer {
	display: flex;
	justify-content: center;
}

.footerDescription {
	font-family: Montserrat-Medium;
	font-size: 1.5rem;
    margin: 0;
}
