:root {
	--primary-red: #c0392b;
	--primary-light-red: #af2e2c;
	--primary-dark-red: #88291f;
	--primary-orange: #f6733b;
	--primary-white: #fff;
	--primary-blue: #58b4b0;
	--primary-light-blue: #61cebc;
	--seconday-light-blue: #6de4d031;
}

.genericStyles {
	font-size: 24px;
	padding: 12px 24px;
	border-radius: 12px;
	outline: 3px solid var(--primary-light-blue);
}

.genericShadow {
	box-shadow: -6px 6px 0px var(--primary-blue);
}
