:root {
	--default-max-width: 2170px;
	--gray-background: #f9f7fc;
}

.sectionTitle {
	font-size: 2rem;
	text-align: center;
}

/* Tablet / IPad */
@media (min-width: 810px) {
	.sectionTitle {
		font-size: 3rem;
	}
}

/* Desktop */
@media (min-width: 1400px) {
	.sectionTitle {
		font-size: 3rem;
		text-align: left;
	}
}
