@import './assets/globals.css';

@font-face {
	font-family: poppins;
	src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins-bold;
	src: url('./assets/fonts/Poppins-Bold.ttf');
}

* {
	font-family: poppins;
	color: var(--primary-white);
}

.App {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template: auto / 12;
	box-shadow: -6px 6px 0px var(--primary-blue);
	border: 0.5rem solid var(--primary-light-blue);
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--primary-white);
}

.header {
	grid-column: 1 / span 11;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 16px;
	padding: 20px 0;
}

.typingContainer {
	grid-area: 3 / 6 / 5 / 12;
	justify-content: center;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.typing {
	border-radius: 1rem;
}
