@font-face {
	font-family: 'poppins';
	src: local('./assets/fonts/Poppins-Regular.ttf');
}
.App {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: 'poppins';
}

.header {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 16px;
	padding: 20px;
}
