@import './assets/globals.css';

@font-face {
	font-family: Istok-Web-Regular;
	src: url('./assets/fonts/IstokWeb-Regular.ttf');
}

@font-face {
	font-family: Istok-Web-Bold;
	src: url('./assets/fonts/IstokWeb-Bold.ttf');
}

* {
	font-family: Istok-Web-Regular;
}

.App {
	/* background-color: blue; */
}
