@import './assets/globals.css';

@font-face {
	font-family: poppins;
	src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins-bold;
	src: url('./assets/fonts/Poppins-Bold.ttf');
}

* {
	font-family: poppins;
	color: var(--primary-white);
}

.App {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template: 10 / 16;
	box-shadow: -6px 6px 0px var(--primary-blue);
	border: 0.5rem solid var(--primary-light-blue);
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--primary-white);
}

.profilePicContainer {
	grid-row: 2 / 4;
	grid-column: 1 / 4;
	padding: 0 3rem;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	margin-top: 3rem;
}

.profilePic {
	align-self: center;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.profilePicBackground {
	width: 12rem;
	height: 8rem;
	bottom: 0;
	border-radius: 1rem;
	position: absolute;
	z-index: -1;
	background-color: var(--primary-red);
	box-shadow: -8px 8px 0px var(--primary-dark-red);
	outline: 3px solid var(--primary-light-red);
}

.titleContainer {
	margin-top: 3rem;
	grid-column: 4 / 10;
	grid-row: 2 / 2;
}

.titleMessage {
	background-color: var(--primary-orange);
}

.typingContainer {
	grid-column: 6 / 16;
	grid-row: 3 / 5;
	margin-top: 5rem;
	margin-right: 2rem;
}

.typing {
	border-radius: 1rem;
}

.softwareDeveloperContainer {
	grid-row: 4 / 6;
	grid-column: 1 / 6;
	margin: 3rem 4rem;
	background-color: #1d313c;
	display: flex;
	align-items: center;
	text-align: center;
}

.softwareDeveloperContainer > p {
	line-height: 1;
}

.technologiesContainer {
	background-color: red;
	margin-top: 7rem;
	grid-row: 5 / 7;
	grid-column: 5 / 16;
	display: flex;
	text-align: center;
	font-size: 1.2rem;
}

.techsRow {
	flex-direction: row;
	width: 100%;
	background-color: orange;
}

.frontEndTechsTitle {
	background-color: var(--primary-red);
	padding: 0.1rem 0.5rem;
	border-radius: 1rem;
	border-width: 24px;
	outline: 3px solid var(--primary-light-blue);
}

.frontEndTechsContainer {
	justify-content: start;
	background-color: aqua;
}

.BackEndTechsContainer {
	background-color: blue;
	/* justify-content: end; */
	/* width: 100%; */
}
.dbTechsContainer {
	background-color: purple;
	/* width: 100%; */
}
