@import './assets/globals.css';

@font-face {
	font-family: poppins;
	src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins-bold;
	src: url('./assets/fonts/Poppins-Bold.ttf');
}

* {
	font-family: poppins;
	color: var(--primary-white);
}

.App {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template: 16 / 16;
	box-shadow: -6px 6px 0px var(--primary-blue);
	border: 1vh solid var(--primary-light-blue);
	border-radius: 2vh;
	padding: 2vh;
	background-color: var(--primary-white);
}

.profilePicContainer {
	grid-row: 2 / 4;
	grid-column: 1 / 4;
	padding: 0 5vh;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	margin-top: 5vh;
}

.profilePic {
	align-self: center;
	border-radius: 2vh;
	margin-bottom: 2vh;
}

.profilePicBackground {
	width: 10vw;
	height: 15vh;
	bottom: 0;
	border-radius: 2vh;
	position: absolute;
	z-index: -1;
	background-color: var(--primary-red);
	box-shadow: -1vh 1vh 0 var(--primary-dark-red);
	outline: 0.5vh solid var(--primary-light-red);
}

.titleContainer {
	margin-top: 5vh;
	grid-column: 4 / 10;
	grid-row: 2 / 2;
}

.titleMessage {
	background-color: var(--primary-orange);
}

.typingContainer {
	grid-column: 6 / 16;
	grid-row: 3 / 5;
	margin-top: 7vh;
	margin-right: 3vh;
}

.typing {
	border-radius: 2vh;
}

.softwareDeveloperContainer {
	grid-row: 4 / 6;
	grid-column: 1 / 5;
	margin: 10vh 6vh 15vh 6vh;
	background-color: var(--secondary-dark-blue);
	display: flex;
	align-items: center;
	text-align: center;
}

.technologiesContainer {
	margin-top: 5vh;
	grid-row: 5 / 7;
	grid-column: 5 / 16;
	display: grid;
	grid-template: 8 / 4;
	text-align: center;
	font-size: 1.2rem;
}

.techsList {
	background-color: var(--secondary-dark-blue);
	display: inline-block;
	width: fit-content;
	border-radius: 2vh;
	padding-right: 2vh;
	padding-left: 2vh;
}

.frontEndTechsContainer {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
}

.frontEndTechsListContainer {
	margin-top: 2vh;
}

.frontEndTechsTitle {
	background-color: var(--primary-red);
	border-radius: 2vh;
	border-width: 4vh;
	outline: 0.4vh solid var(--primary-light-blue);
	padding: 0.5vh 4vh;
}

.frontEndTechsTitle > p,
.backEndTechsTitle > p {
	line-height: 0;
}

.backEndTechsContainer {
	grid-column: 3 / 5;
	grid-row: 3 / 8;
}

.backEndTechsTitle {
	background-color: var(--primary-orange);
	border-radius: 2vh;
	border-width: 4vh;
	outline: 0.4vh solid var(--primary-light-blue);
	padding: 0.5vh 4vh;
}

.backEndTechsListContainer {
	margin-top: 2vh;
}

.dbTechsContainer {
	grid-column: 2 / 4;
	grid-row: 8;
	margin-top: 2vh;
}

.dbTechsTitle {
	background-color: var(--primary-red);
	border-radius: 2vh;
	border-width: 4vh;
	outline: 0.4vh solid var(--primary-light-blue);
	padding: 0.1vh 2vh;
}

.dbTechsListContainer {
	margin-top: 2vh;
}

.studiesContainer {
	grid-row: 9;
	grid-column: 1 / 16;
	justify-self: center;
	margin-top: 2vh;
	text-align: center;
}

.studiesTitle {
	background-color: var(--secondary-dark-blue);
	width: 25vw;
}

.studiesTitlesContainer {
	margin-top: 2vh;
	padding: 1vh;
	overflow-y: scroll;
	&:hover {
		overflow-y: scroll;
	}
	max-height: 50vh;
}

.titleListItemContainer {
	display: flex;
	flex-direction: row;
	margin-bottom: 2vh;
}

.titleImage {
	max-width: 10vw;
	margin-right: 1vw;
	margin-left: 1vw;
}

.titleTitleDescription {
	text-align: center;
	display: flex;
	align-items: center;
	color: var(--secondary-dark-blue);
	font-weight: bold;
	font-size: larg;
}

.titleDescription {
	margin-left: 1vw;
	margin-right: 1vw;
	text-align: center;
	display: flex;
	align-items: center;
	color: var(--secondary-dark-blue);
	font-size: smaller;
}
