@import './assets/globals.css';

@font-face {
	font-family: Istok-Web-Regular;
	src: url('./assets/fonts/IstokWeb/IstokWeb-Regular.ttf');
}

@font-face {
	font-family: Istok-Web-Bold;
	src: url('./assets/fonts/IstokWeb/IstokWeb-Bold.ttf');
}

@font-face {
	font-family: Montserrat-Regular;
	src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat-Medium;
	src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: Montserrat-SemiBold;
	src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: Montserrat-ExtraBold;
	src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

* {
	font-family: Istok-Web-Regular;
}

.App {
}
