@import './assets/globals.css';

.appContainer {
}

body {
	margin: 0;
}

.sectionTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-family: Montserrat-Bold;
	font-size: 4.5rem;
	margin: 0;
	padding-bottom: 0.2em;
}
