body {
	margin: 0;
	font-family: 'Poppins-Regular';
	src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
