@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2em 3.125em;
}

.aboutMeContentContainer {
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
}

.aboutMeContentContainer p {
	font-family: Montserrat-Regular;
	font-size: 1.5rem;
	padding: 4em 0;
	text-align: justify;
	width: 40em;
}

.aboutMeContentContainer img {
	padding: 0 3.65em 0 0;
}
