@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2rem 3.125rem;
}

.aboutMeTitleContainer {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0;
}

.aboutMeTitle {
	font-size: 5rem;
	margin: 0;
}
