@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2em 3em;
}

.aboutMeContentContainer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.aboutMeContentContainer p {
	flex: 1 1 420px;
	font-family: Montserrat-Medium;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
	max-width: 100%;
	padding: 1rem 0;
	text-align: justify;
}

.aboutMeContentContainer img {
	flex: 1 1 320px;
	height: auto;
	max-width: 80%;
}

@media (min-width: 810px) {
	.aboutMeContentContainer {
		background-color: lightcoral;
		gap: 1rem;
		padding: 1.5em 0;
		justify-content: center;
	}

	.aboutMeContentContainer p {
		font-size: 1.3rem;
	}

	.aboutMeContentContainer img {
		max-width: 80%;
	}
}

@media (min-width: 1400px) {
	.aboutMeContentContainer {
		background-color: lightgreen;
		gap: 3rem;
		padding: 2em 0;
	}

	.aboutMeContentContainer p {
		font-size: 1.5rem;
		max-width: 60ch;
	}

	.aboutMeContentContainer img {
		max-width: 50%;
	}

	.aboutMeContentContainer img {
		max-width: 50%;
	}
}
