@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2em 3.125em;
}

.aboutMeContentContainer {
	display: flex;
	gap: 3rem;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em 0;
}

.aboutMeContentContainer p {
	font-family: Montserrat-Medium;
	font-size: 1.5rem;
	line-height: 1.6;
	text-align: justify;
	flex: 1 1 420px;
	max-width: 60ch;
	padding: 0;
}

.aboutMeContentContainer img {
	flex: 1 1 320px;
	max-width: 100%;
	height: auto;
	/* padding: 0 3.65em 0 0; */
}
