@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2em 3em;
}

.aboutMeContentContainer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.aboutMeContentContainer p {
	font-family: Montserrat-Medium;
	line-height: 1.6;
	text-align: justify;
	flex: 1 1 420px;
	padding: 0;
}

.aboutMeContentContainer img {
	flex: 1 1 320px;
	height: auto;
}

@media (min-width: 412px) {
	.aboutMeContentContainer {
		gap: 1rem;
		padding: 1.5em 0;
		justify-content: center;
	}

	.aboutMeContentContainer p {
		font-size: 1rem;
		max-width: 100%;
		margin: 0;
	}

	.aboutMeContentContainer img {
		max-width: 80%;
	}
}

@media (min-width: 810px) {
	.aboutMeContentContainer {
		gap: 1rem;
		padding: 1.5em 0;
		justify-content: center;
	}

	.aboutMeContentContainer p {
		font-size: 1.3rem;
	}

	.aboutMeContentContainer img {
		max-width: 80%;
	}
}

@media (min-width: 1400px) {
	.aboutMeContentContainer {
		gap: 3rem;
		padding: 2em 0;
	}

	.aboutMeContentContainer p {
		font-size: 1.5rem;
		max-width: 60ch;
	}

	.aboutMeContentContainer img {
		max-width: 50%;
	}

	.aboutMeContentContainer img {
		max-width: 50%;
	}
}
