@import '../../assets/globals.css';

.AboutMeContainer {
	background-color: #fff;
	padding: 2em 3.125em;
}

.aboutMeTitleContainer {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0;
}

.aboutMeTitle {
	font-size: 4.5rem;
	font-family: Montserrat-Bold;
	margin: 0;
}

.aboutMeContentContainer {
	display: flex;
	padding: 2em 0;
}

.aboutMeContentContainer p {
	font-size: 1.5rem;
	text-align: justify;
	font-family: Montserrat-Regular;
	padding: 4em 2em 0 2em;
}

.aboutMeContentContainer img {
    padding: 0 3.65em 0 0;
}
